<li>
	{{name}}

	<button class="change-taste" data-id="{{id}}" data-newtaste="{{taste}}">
		{{#if tasty}}Love to Try It!{{else}}Great Wine!{{/if}}
	</button>
	{{!-- <button class="delete-wine" data-id="{{id}}">DELETE!</button> --}}
</li>